
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}


/* #logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    background: linear-gradient(90deg, ); gradient colors 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
 
} */
 

#nav-container{
    /* background-color:yellow; */
    height:50px;
   
     
   
}




#nav-row{
    /* background-color: pink; */
    max-width:1300px;
    width:auto; 
    margin:0 auto;
  padding:0 10px;
    height:100%;
      /* box-shadow: 0px 3px  3px rgba(128, 128, 128, 0.67); */
  display: flex;
  align-items: center;
  justify-content: center;

 
}

/* 
#nav-row1{
    width:100%;
    padding:0;
    margin:0;
    display: flex;
    justify-content: space-between;
   
} */


#list-cont{
   display: flex;
   font-family: "Poppins", sans-serif;
   justify-content: space-between;
 
 padding:0;
 padding-right:5px;
 padding-left:5px;
   
  
  
  
}


#logo{
    
    width: 300px;
    /* height:50px */
    margin: 0;
    display: flex;
    align-items: center;
  
}

#username{
    width: 300px;
    /* height:50px */
    margin: 0;
    display: flex;
    align-items: center; 
     /* text-decoration: underline;  */
     /* text-decoration-color: black; */
     color: #3b82f6;
     font-weight: bold;
     
}

 .group-items{
    list-style-type:none;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
   
    /* height:100%; */
    height:50px;
    padding: 0;
    gap:30px;
    margin:0;
    top:0;
    justify-content: end;
    /* width:80%; */
    cursor: pointer;

}




.hamburger{
    font-weight:bold;
    font-size:30px;
    display: none;
    

}


#signinbtn{
   
    width:80px;
    height:37px;
    border-radius:7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6;
    color: white;
    
    
}

#signupbtn{
    border:2px solid rgb(104, 104, 244);
    color: #3b82f6;
    width:80px;
    height:37px;
    border-radius:7px;
    display: flex;
    align-items: center;
    justify-content: center;
 
    
}
@media only screen and (max-width:800px) {
 
 
    .group-items{
    display: none;

 } 

 .hamburger{
    display: block;

 }


 
 
 .mobilecss{
    display:flex;
    flex-direction: column;
    position:absolute !important;
    
    backdrop-filter: blur(15px);
    height:300px;
  
    width:100%;
    /* background-color: red; */
    left: 0;
    right: 0; 
    padding:0 0px;
margin-top:53px;


color:black;



 }
} 




