*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

#container1{
   
    
    min-height:100vh;
    margin-top:80px;
    display: flex;
    justify-content: center;
    
   
}

#form{
    height:fit-content;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.436);
    border-radius:20px;
    padding:15px;
   
}

#data{
   
      

}

#inputtext{
   width:700px;
   margin-right: 0px;
     font-family:"Poppins", sans-serif;
    
 

}

.formlabel{
   font-family:"Poppins", sans-serif; 
    /* font-weight: bold; */
   color: #3b82f6;
   white-space: nowrap;
   font-size:21px;
   margin-bottom:5px;
}

#formdatatext{
    height:40px;
}


#postbtn-container{
    margin-top: 30px;
}



#postbtn{
   width:130px;
   background-color:#3b82f6;
   font-size: 1.4rem;  
   color: white;
   padding:10px;
    font-family:"Poppins", sans-serif; 
}


@media only  screen and (max-width:884px) {
  
  
#data{
    display: flex;
    flex-direction: column;
    margin-top:15px;
    gap:0px; 
      

}
  
    #inputtext{
   width:100%;
   margin-right: 0px;

}  
}